<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262237353427-gu7nc60bn3bkuuse0ie9anm8lcr1kh9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262237353427-gu7nc60bn3bkuuse0ie9anm8lcr1kh9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCmZExVc5KSqNM0ncioZzr71GViPIUtQ5I</string>
	<key>GCM_SENDER_ID</key>
	<string>262237353427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amrithaa.richworld</string>
	<key>PROJECT_ID</key>
	<string>richworld-843da</string>
	<key>STORAGE_BUCKET</key>
	<string>richworld-843da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262237353427:ios:4a9c90565ccf7be8106b26</string>
</dict>
</plist>